body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 100%;
    background-color: blue;
}

.startTime {
    margin: 10px;
    display: inline-block;
    font-size: 120%;
    background-color: pink;
    padding: 5px 10px;
    color: black;
    border: 0;
}

.startTime:hover {
    background-color: green;
}

input[type="text"] {
    font-size: 80%;
}

.wrapper {
    margin: 100px auto 0 auto;
    max-width: 600px;
}

.hide {
    display: none;
}

.start {
    text-align: center;
}

